.footer {
    align-items: center;
    padding: 1rem 2rem; /*pros elementos nao ficarem tao proximos das extremidades*/
    background-color: #2BBAA5;
    border-radius: 6px;
}

.footer-content {
    color: #2e2e2e;
    font-size: 1.2em;
    text-decoration: none;
}
.footer-content p{
    margin: 0;
}

.footer-content a:hover {
    text-decoration: none;
    color: #F9A822;
}
