#navbar{
    align-items: center;
    padding: 1rem 2rem; /*pros elementos nao ficarem tao proximos das extremidades*/
    background-color: #2BBAA5;
    border-radius: 6px;
 
}

.header-image img {
    width: 100%;
    height: a150px;
    display: block;
    margin-top: -4px; /* To remove any unwanted gap between navbar and image */
}
#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5px;
    text-shadow: #ffffff;
}

#navbar form {
 padding: 10px;
 gap: 2rem;   /* pra afastar o input de texto com o de submit */
}

#navbar input {
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    border: none;
    margin-right: 10px
}

#navbar form button{
background-color: #93D3AE;
border: 2px solid #93D3AE;
border-radius: 4px;
color: aliceblue;
padding: 0.4rem;
font-size: 0.8rem;
cursor: pointer;
transition: .4s;
}

#navbar form button:hover{
    background-color: transparent;
    color: aqua;
}


@media (min-width: 500px){
    #navbar{
        justify-content: space-between;
        display:flex
    }

    #navbar form {
        display: flex;
        gap: .5rem;   /* pra afastar o input de texto com o de submit */
       }
}