* {
  font-family: Helvetica,Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAECB6;
  color: rgb(9, 11, 11);
}

a {
  text-decoration: none;
  color: rgb(50, 47, 47);
  transition: .5s ;
}
 a:hover {
  color: #F9A822;
 }



